<div class="clearfix col-sm-12">
    <div class="row form-horizontal">
		<% if @result.customer.payment_method.type == "card" %>
        <div class="col-sm-6">
            <div class="row">
                <label class="col-sm-5 control-label">Card holder's name</label>
                <div class="col-sm-7 form-control-static">
                    <%= @result.card.first_name %> <%=  @result.card.last_name %> 
                </div>
            </div>
            <div class="row">
                <label class="col-sm-5 control-label">Card type </label>
                <div class="col-sm-7 form-control-static">
                    <%= @result.card.card_type %>
                </div>
            </div> 
        </div> 
        <div class="col-sm-6">
            <div class="row">
                <label class="col-sm-5 control-label">Card No</label>
                <div class="col-sm-7 form-control-static">
                    **** **** **** <%= @result.card.last4 %>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-5 control-label"> Expiry</label>
                <div class="col-sm-7 form-control-static">
                    <%= @result.card.expiry_month.to_s + "/"  + @result.card.expiry_year.to_s %>
                </div>
            </div> 
        </div>
		<% else %>
        <div class="col-sm-6">
            <div class="row">
                <label class="col-sm-5 control-label">Payment Method</label>
                <div class="col-sm-7 form-control-static">
                    <%if @result.customer.payment_method.type == "amazon_payments" %>
						Amazon Payments
					<%end%>
                    <%if @result.customer.payment_method.type == "paypal_express_checkout" %>
						PayPal Express Checkout
					<%end%>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-5 control-label"> Billing Agreement Id </label>
                <div class="col-sm-7 form-control-static">
                    <%= @result.customer.payment_method.reference_id %>
                </div>
            </div> 
        </div>
		<% end %>
    </div>
</div>

