<% formatter = lambda { |no| "#{no/100}.#{no%100}" } %>
<% if @invoice_estimate == nil  %>
            <div class="text-right">
               Next Invoice Amount &nbsp;&nbsp;
             <span class="h2">
                $ 0.00
               </span>
           </div>
<% else %>
<div class="clearfix col-sm-12">            	                                 
    <ul id="cb-order-summary" class="list-unstyled">
        <% if @invoice_estimate.line_items != nil %>
          <% @invoice_estimate.line_items.each do |li| %>
            <li>
            <div class="row">
                <div class="col-xs-8">
                    <span class="cb-list-prefix"><%= li.entity_type %>:</span><strong> <%= li.description + " ( x " + li.quantity.to_s + ")"%></strong>
                </div>
                <div class="col-xs-4 text-right">$ <%= formatter[li.amount] %> </div>
            </div>
           </li>
          <% end %>
        <% end %>
        <% if @invoice_estimate.taxes != nil %>
          <% @invoice_estimate.taxes.each do |t| %>
          <li class="row">
             <div class="col-xs-8">
                <span class="cb-list-prefix">Tax:</span> <strong> <%= t.description %> </strong>
             </div>
             <div class="col-xs-4 text-right"> $ <%= formatter[t.amount] %> </div>
          </li>
          <% end %>
        <% end %>
        <% if @invoice_estimate.discounts != nil %>
           <% @invoice_estimate.discounts.each do |dis| %>
            <li class="row">
              <div class="col-xs-8">
                <span class="cb-list-prefix">Discount:</span> <strong> <%= dis.description%> </strong>
              </div>
             <div class="col-xs-4 text-right"> - $ <%= formatter[dis.amount] %> </div>
            </li>
          <% end %>
        <% end %>
    </ul>
          <% puts "at sub info show" %>
    <div class="text-right">
        Next Invoice Amount &nbsp;&nbsp;<span class="h2"> $ <%= formatter[@invoice_estimate.total] %></span>
    </div>
</div>
<% end %>
